

<ion-content class="contentRecherche">

    <ion-segment slot="fixed" scrollable class="segment" >
        <ion-segment-button id="artist" (click)="segmentChanged('artist')">
          <ion-label color="light">Artistes</ion-label>
        </ion-segment-button>
        <ion-segment-button  id="album" (click)="segmentChanged('album')">
          <ion-label color="light">Albums</ion-label>
        </ion-segment-button>
        <ion-segment-button id="title"  (click)="segmentChanged('title')">
          <ion-label color="light">Titres</ion-label>
        </ion-segment-button>
        <ion-segment-button  id="playlist">
          <ion-label color="light">Playlists</ion-label>
        </ion-segment-button>
    </ion-segment>
      
  <ion-list class="list">
    <div  *ngIf="segment == 'artist'">
    <div *ngFor="let lettre of artistsAZ">
      <ion-item-divider >{{lettre.letter}}</ion-item-divider>
      <ion-item *ngFor="let artist of lettre.artistes" (click)="albumsFromArtist(artist.key)" >{{artist.artiste}}</ion-item>
    </div>
  </div>

  <div  *ngIf="segment == 'album'">
    <div  *ngFor="let lettre of albumsAZ">
      <ion-item-divider >{{lettre.letter}}</ion-item-divider>
      <ion-item *ngFor="let album of lettre.albums" (click)="titlesFromAlbum(album.key)">
          <ion-avatar slot="start"><img src="{{album.cover}}"></ion-avatar>  
        <ion-label>{{album.nom}}</ion-label>
      </ion-item>
    </div>
  </div>

    <div *ngIf="segment == 'title'">
    <div   *ngFor="let lettre of titlesAZ" >
        <ion-item-divider >{{lettre.letter}}</ion-item-divider>
        <ion-item *ngFor="let title of lettre.titles" >
          <div (click)="changeTitle(title.key)" style="width: 100%;">
            <ion-label>{{title.titre}}</ion-label>
          </div>
          <ion-button slot="end" (click)="download(title.key)">

          <ion-icon name="download"  light></ion-icon>
      </ion-button> 
  
        </ion-item>
      </div>
    </div>
  </ion-list>


</ion-content>
